a {
    color: #1fbeca;
}
.wy-side-nav-search {
    background-color: #1fbeca;
}

.wy-side-nav-search input[type="text"]{
    border-color: #1fbeca;
}

.wy-nav-side {
    background: #231F20;
}

.rst-versions .rst-current-version {
    background-color: #141414;
}
